
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body >
    <div class="container" >
        <div class="row" style="margin-top:100px;" > 
            <div  class="col-xs-12 col-sm-6 col-md-offset-3 well" >
                <form method="post">

                    <div class="form-group">
                        <center>
                            <img src="~/Content/Images/not.png" class="img-responsive" width="200" height="200" />
                        </center>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Email" placeholder="Lütfen Email adresiniz giriniz " />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Password" placeholder="Lütfen şifrenizi giriniz " />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Giriş Yap" class="btn btn-block btn-primary" />
                    </div>
                    <div class="form-group">
                        <a href="~/Login/SignUp" class="btn btn-block btn-primary">Kayıt Ol</a>
                    </div>
                </form>
            </div>







        </div>
         
    </div>
</body>
</html>
